<!DOCTYPE html>
<html>
<head>
  <title>Games</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/eightball">Eightball</a></li>
        <li><a href="/pages/rock">Rock</a></li>
        <li><a href="/pages/secret">Secret</a></li>
      </ul>
    </nav>

  <%= yield %>

  </div>

</body>
</html>
