.container {
  margin: auto;
  max-width: 960px;
  background-color: #8eb9ff;
  padding: 30px;
  min-height: 650px;
  opacity: 0.95;
  color: #fff;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
}

.feature {
  max-width: 700px;
}

body {
  background-image: url(http://www.desktopimages.org/pictures/2013/0104/1/orig_198213.jpg);
  background-size: cover;
  font-family: sans-serif;
}
