<h1>I'm thinking of a number between 1 and 10</h1>

<h6>I don't really care...</h6>

<form action="/guessten/result">
  <input type="submit" value="1" name="result">
  <input type="submit" value="2" name="result">
  <input type="submit" value="3" name="result">
  <input type="submit" value="4" name="result">
  <input type="submit" value="5" name="result">
  <input type="submit" value="6" name="result">
  <input type="submit" value="7" name="result">
  <input type="submit" value="8" name="result">
  <input type="submit" value="9" name="result">
  <input type="submit" value="10" name="result">
</form>
