<h1>Make your move so we can get this over with...</h1>

<h5>Choose a fucking scissors, paper, or rock</h5>

<form action="/spr/play">
  <input type="submit" value="scissors" name="play">
  <input type="submit" value="paper" name="play">
  <input type="submit" value="rock" name="play">
</form>
