<img id="picture"></img>
<h1><span id="username"></span></h1>
<h5>Gender: <span id="gender"></span></h5>
<p>User cell phone: <span id="cellphone"></span></p>
<p>User location: <span id="location"></span></p>
