<h1>Rock Paper Scissor</h1>

<p>Please select a </p>
<form action="/pages/rockthrow">
  <input type="search" name="throw" placeholder="rock, paper or scissors" required>
  <button>Throw!</button>
</form>
