<h2>The computer has guessed <%= @computerguess %></h2>

<h2>You have guessed <%= @guess %></h2>

<% if @computerguess == @guess %>
<h2>  <%= @win %> </h2>
  <% else %>
<h2>  <%=@lose %> </h2>
<% end %>
