<h1>Secret Number</h1>

<p>Please pick a number between 1 and 10:</p>
<form action="/pages/secretanswer">
  <input type="search" name="secret_answer" placeholder="Enter a number" required>
  <button>Go!</button>
</form>
