<!DOCTYPE html>
<html>
<head>
  <title>HighestMountains</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav>
    <ul>
      | <li><a href="/mountains">Home</a></li>
      |
      <li><a href="/mountains/new">New Mountain</a></li> |
    </ul>
  </nav>
<%= yield %>
</div>
</body>
</html>
