<form class="" action="/oceans" method="post">
<p>
  <label for="name">Name:</label>
  <input type="text" name="ocean[name]" id="name" placeholder="Pacific">
</p>
<p>
  <label for="image">Image:</label>
  <input type="url" name="ocean[image]" id="image" placeholder="http://maps.google.com/ocean.jpg">
</p>
<p>
  <label for="area">Area:</label>
  <input type="number" name="ocean[area]" id="area" placeholder="168723000">
</p>
<p>
  <label for="volume">Volume:</label>
  <input type="number" name="ocean[volume]" id="volume" placeholder="669880000">
</p>
<p>
  <label for="depth">Depth:</label>
  <input type="number" name="ocean[depth]" id="depth" placeholder="3970">
</p>
<p>
  <label for="coastline">Coastline:</label>
  <input type="number" name="ocean[coastline]" id="coastline" placeholder="135663">
</p>

<button type="submit">Create Ocean!</button>

</form>
